---
layout: default
---

<div id="main" role="main">
	<article class="wrap" itemscope itemtype="http://schema.org/Article">
		{% include breadcrumbs.html %}
		<div class="page-title">
			<h1>Presentación: {{ page.title }}</h1>
		</div>
		{% assign dir = page.url | split: "/" | last %}
		{% assign pdf = page.transpas | where: "format", "PDF" | first %}
		{% if pdf.file %}
			{% capture link %}{{ site.url }}/transpas/{{ dir }}/{{ pdf.file }}{% endcapture %}
		{% else %}
		  {% capture link %}#transpas{% endcapture %}
		{% endif %}
		{% if page.image.feature %}
		<div class="page-feature">
			<div class="page-image">
				<a href="{{ link }}">
				<img src="{{ site.url }}/transpas/{{ dir }}/{{ page.image.feature }}" class="page-feature-image" alt="{{ page.title }}" itemprop="image">
				</a>
				{% if page.image.credit %}{% include image-credit.html %}{% endif %}
			</div><!-- /.page-image -->
		</div><!-- /.page-feature -->
		{% endif %}
		<div class="inner-wrap">
			<div id="content" class="page-content" itemprop="articleBody">
				{{ content }}
				{% if page.transpas %}
					<div id="transpas">
					{% include pres-transpas.html %}
					</div>
				{% endif %}
				{% if page.extras %}
					<div id="extras">
					{% include pres-extras.html %}
					</div>
				{% endif %}
				<hr />
				<footer class="page-footer">
					{% if page.categories %}{% include page-author.html %}{% endif %}
					{% if page.share != false %}{% include share-this.html %}{% endif %}
					{% include page-meta.html %}
				</footer><!-- /.footer -->
				<aside>
					{% if page.comments == true %}{% include comments.html %}{% endif %}
				</aside>
			</div><!-- /.content -->
		</div><!-- /.inner-wrap -->
		{% if page.ads == true %}<div class="ads">{% include advertising.html %}</div><!-- /.ads -->{% endif %}
	</article><!-- ./wrap -->
</div><!-- /#main -->
